################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebAPI/JWT/webapi-aspnetcore-reference/obj
/WebAPI/JWT/webapi-aspnetcore-reference/bin
/WebAPI/JWT/webapi-aspnetcore-reference/.vs
/WebAPI/JWT/webapi-aspnetcore-reference/webapi-aspnetcore-reference.csproj.user
/.vs
/WebAPI/JWT/.vs
/aspnetcore/WebAPI_JWT/.vs
/aspnetcore/WebAPI_JWT/webapi-aspnetcore-reference/obj
/aspnetcore/WebAPI_JWT/webapi-aspnetcore-reference/bin
/aspnet/ObservabilitySample/UI/bin
/aspnet/ObservabilitySample/UI/obj
/aspnet/ObservabilitySample/.vs
/aspnet/ObservabilitySample/packages

bin/
obj/
packages/